@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(230, 230, 230);
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
  display: grid;
  place-items: center;
}

main {
  margin: 0 auto;
  width: 100%;
}

.grid-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin-top: 3em;
}

.container {
  width: 100%;
  max-width: 600px;
  display: grid;
  gap: 1em;
  padding: 0.5em;
  background: rgb(224, 224, 224);
}

.explanation {
  line-height: 1.4;
  width: 100%;
  display: grid;
  gap: 0.5em;
  padding: 1em;
  background: rgb(194, 194, 194);
}

@media screen and (min-width: 868px) {
  .grid-container {
    flex-direction: row;
    align-items: baseline;
  }
}

@media screen and (min-width: 900px) {
  .container {
    max-width: 300px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 400px;
  }
}
